CompileFlags:
  CompilationDatabase: build
Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - modernize-*
      - readability-*
    Remove:
      - modernize-use-trailing-return-type